
.headerArea{
    width: 100%;
    background-color: #d8d8d8;
    height: 125px;
}
.navArea{
    display: flex;  
    flex-direction: row;
    height: 100%;
    flex: 1;
}
.menuArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.labelMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImg{
    height: 180px;
    padding-top: 10px;
}

.pesquisaArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.loginArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    
}
.cidadesAera{
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #7d7d7d;
    background-color: #FFF;
    color: #0065a1;
}

.btnLogin{
    height: 50px;
    width: 25%;
    font-size: 14px;
    border: 1px solid #7d7d7d ;
    border-radius: 10px ;
    color: #0065a1;
}

.spanMenu{
    height: 200px;
    width: 50px;
    color: #7d7d7d;
}